*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  margin: 0 auto;
  max-width: 1110px;
}

header{
  background-color: #fff;
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  padding: 20px 0px 60px 0px;
}

.logo{
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  text-transform: uppercase;
}

header nav{
  width: 431px;
  height: 26px;
  top: 80px;
  left: 844px;
  gap: 0px;
  opacity: 0px;
    display: flex;
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  padding: 10px 0px 0px
}

nav ul{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  list-style: none;
  width: 100%;
}

nav a{
  text-decoration: none;
  color: #5E607A;
}

main{
  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

main section{
  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  height: 511px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  align-items: center;
}

main section .haut {
  grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  gap: 0px;
  Width: 730px;
  Height: 300px;
background-size: cover;
background-image: url('images/79.png');
}

article{
  padding: 10px 20px 10px 20px;
}

main section .gauche{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  font-family: Inter;
  font-size: 56px;
  font-weight: 800;
  line-height: 56px;
  text-align: left;
}

main section .droite{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #5E607A;
}

section .button{
  width: 185px;
  height: 48px;
  top: 133px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F15D51;
  color: #FFFDFA;
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 4.375px;
  cursor: pointer;
  margin-top: 20px;
}

main aside{
grid-row: 1/4;
  grid-column: 3/4;
    background-color: #000000;
}

h1{
  font-family: Inter;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  text-align: left;
color: #FFFDFA;
}

p{
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
color: #C5C6CE;
  padding: 20px 0px 20px 0px;
}

.titre-jaune{
  color: #E9AA52;
  font-family: Inter;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  border: 1px solid #000000;
  padding: 30px 20px;
}

.titre{
  font-family: Inter;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  text-align: left;
    color: #ffffff;
}

.titre-noir{
  font-family: Inter;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  text-align: left;
     color: #00001A;
;
}

.line{
  color: #FFFFFF;
}

.chapeau{
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #ffffff;
}

footer{
  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  padding-top: 60px;
}

footer .droite{
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  color: #5E607A;
}

footer figure{
  display: flex;
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  color: #C5C6CE;
}

footer .footer_A{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column : 1/2;
  grid-row: 1/2;
}

.footer_A .footer-1{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 1/2;
   }

.footer_A .footer-2{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 1/2;
   }

footer .footer_B{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column : 2/3;
  grid-row: 1/2;
}

.footer_B .footer-3{
  grid-column-start: 1;
  grid-column-end: 2;
   }

.footer_B .footer-4{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 1/2;
}

footer .footer_C{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  grid-column-start: 3;
  grid-column-end: 4;
}

.footer_C .footer-5{
  grid-column-start: 1;
  grid-column-end: 2;
   }

.footer_C .footer-6{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 1/2;
   }
